/* sections css*/
#main{
    height: 100%;
    color: rgb(42, 13, 80);
    margin: 10%;
    border-radius: 5px;
}

.add-goal{
    border: 1px solid green;
}

.add-todo{
    border: 1px solid blue;
    padding: 4%;
}

.container{
    padding:5%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.general-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
button, input{
    width: fit-content;
    margin: 2%;
}


input { 
    width: 100% 
}

input[formControlName="description"] {
    width: 70%;
}

*{ direction:rtl}

