
 #nav-bar {
     margin: auto;
     width: 50%;
 }
 
 .container { 
    padding: 3%;
    display: flex;
    flex-direction: column-reverse; 
    justify-content: center;
} 

#welcome-back {
    direction: rtl;
    padding-top: 10%;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        /* height: 1284px; */
    }

    #main {
        max-width: 40%;
    }

    app-cal-main {
        width: 60%;
    }
}





