
 .container { 
    padding: 3%;
    display: flex;
    flex-direction: column-reverse; 
    justify-content: space-evenly;
    height: 1600px;
} 

#welcome-back {
    direction: rtl;
    padding-top: 10%;

}

.rotate-screen {
    display: block;
    background-color: red;
    padding: 5%;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        height: 1284px;
    }

    app-cal-main {
        width: 70%;
    }
}

@media only screen and (min-width: 500px) {
    /* .container {
        flex-direction: row;
    } */

    .rotate-screen {
        display: none;
    }
}




