<div id="main" class="add-todo">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-form-field>
                <mat-label>מה צריך לעשות?</mat-label>
                <input formControlName="title" matInput maxlength="20" required>
            </mat-form-field>
            <button class="small-button" mat-stroked-button color="primary" type="button"
                (click)="toggleEventForm()">הוסף אירוע ביומן</button>
            <div *ngIf="createEvent" class="event-details">
                <mat-form-field id="time-picker">
                    <mat-label>מתי?</mat-label>
                    <input type="datetime-local" matInput formControlName="startDate" min=6 max=22>
                </mat-form-field>
            </div>
            <button type="submit" [disabled]="!todoForm.valid">הוסף</button>
        </div>
    </form>
</div>