<div id="main" class="add-todo">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <!-- <input type="text" formControlName="title" class="form-control" required> -->
            <mat-form-field>
                <mat-label>מה צריך לעשות?</mat-label>
                <input formControlName="title" matInput required>
            </mat-form-field>
            <button class="small-button" mat-stroked-button color="primary" type="button"
                (click)="toggleEventForm()">הוסף אירוע ביומן</button>
            <div *ngIf="createEvent" class="event-details">
                <!-- <div class="form-group">
                    <label for="startDate">תאריך?</label>
                    <input type="date" formControlName="startDate" class="form-control">
                </div> -->

                <!-- <mat-form-field appearance="fill">
                    <mat-label>תאריך?</mat-label>
                    <input formControlName="startDate" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                
                <mat-form-field id="time-picker">
                    <mat-label>שעה?</mat-label>
                    <input type="datetime-local"  matInput formControlName="startDate" min=6 max=22>
                </mat-form-field>

                <!-- <div class="form-group">
                    <label for="duration">(בשעות)כמה זמן זה לוקח?</label>
                    <input type="number" formControlName="duration" class="form-control">
                </div> -->

            </div>
            <button type="submit" [disabled]="!todoForm.valid">הוסף</button>
        </div>
    </form>
</div>