/*general page stuff*/
* {
    direction: rtl;
}

h2 {
    color: white;
}

#add-job {
    padding: 3%;
}

.formControl {
    margin: 2%;
}

button {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    h2 {
        text-align: center;
    }

    button {
        margin-right: 50%
    }

    #add-job {
        padding: 5%;
    }
}






/*general form stuff*/

input {
    color: black;
}

.mat-form-field {
    text-align: right;
    width: 60%;
    color: white !important;
}

label {
    text-decoration: underline;
    color: white;
}

.section {
    margin-top: 50px;
}

.long {
    width: 135%;
    grid-column: span 2;
}

@media only screen and (min-width: 710px) {
    .long {
        width: 135%;
        grid-column: span 4;
    }
}








/*radio, chips, checks etc.*/
mat-radio-group {
    margin-top: 10px;
}

.radio-button-div {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

li {
    width: 100px;
}

app-chips {
    width: 133% !important;
}

.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
    margin-left: -8px;
    margin-right: 13px;
}

::ng-deep .mat-checkbox-inner-container, ::ng-deep .mat-radio-container  {
    margin-left: 10px
}

/* ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent;
} */
/* 
::ng-deep .mat-checkbox-mixedmark {
    background-color: black;
} */




/*specific sections*/

#days {
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    #out-source {
        width: 70%;
        grid-column: span 4;
    }
    #stay-home  {
        width: 30%;
        grid-column: span 4;
    }

    #experience {
        width: 30%;
        grid-column: span 4;
    }

    #salary {
        width: 70%;
    }
}















