* {
    direction: rtl;
}

h2 {
    color: white;
}

#add-job {
    margin: 3%;
    padding: 3%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 12%;
}

.mat-form-field {
    text-align: right;
    width: 100%;
}

input {
    color: black;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.formControl {
    margin: 2%;
}

button {
    cursor: pointer;
}

.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
    margin-left: -8px;
    margin-right: 13px;
}

