<div id="add-job">
    <h2>{{title}}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="jobForm">
        <div class="container">
            <mat-form-field color="accent">
                <mat-label>שם החברה:</mat-label>
                <input formControlName="name" matInput autocomplete="off" required>
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>מיקום:</mat-label>
                <input formControlName="location" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>איש קשר:</mat-label>
                <input formControlName="contactMan" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>טלפון:</mat-label>
                <input formControlName="phoneNumber" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>תאור החברה:</mat-label>
                <input formControlName="companyDescription" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>תאור משרה:</mat-label>
                <input formControlName="jobDescription" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-chip-list #skillsChips formControlName="skills">
                  <mat-chip *ngFor="let skill of skills.value" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(skill)">
                    {{skill}}
                    <mat-icon matChipRemove *ngIf="removable">&#10008;</mat-icon>
                  </mat-chip>
                  <input placeholder="כישורים נדרשים:"
                         [matChipInputFor]="skillsChips"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>נסיון:</mat-label>
                <input formControlName="experienceNeeded" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>מיקור חוץ?</mat-label>
                <input formControlName="outSourcing" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>הערות:</mat-label>
                <input formControlName="remarks" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>שכר:</mat-label>
                <input formControlName="salary" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>ימים / שעות:</mat-label>
                <input formControlName="daysAndHours" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>שאלות?</mat-label>
                <input formControlName="questions" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>הגעתי דרך...</mat-label>
                <input formControlName="jobBoard" matInput autocomplete="off">
            </mat-form-field>

        </div>
        <button mat-raised-button color="accent" type="submit" [disabled]="!jobForm.valid">{{submitButtonText}}</button>
    </form>
</div>