<div class="main">

   <div class="button">
      <button mat-raised-button (click)="toggleAddForm()">{{buttonText}}</button>
   </div>
   <br><br>
   <div class="container">
      <div id="all-jobs-container" *ngIf="!showForm">
         <div *ngFor="let job of allJobs; let i = index;" class="job-div">
            <h3 (click)="open(i)">{{job.name}}</h3>
            <div class="delete-div" *ngIf="jobToDelete == i">
               האם את/ה בטוח/ה שברצונך למחוק את המשרה?
               <div class="delete-buttons">
                  <button class="delete-button" (click)="delete(job.name)">מחק</button>
                  <button (click)="jobToDelete = -1">ביטול</button>
               </div>
            </div>
            <div *ngIf="currentJobIndex == i && jobToDelete == -1" class="job-details">
               <div class="buttons">
                  <div class="open-edit-form-button">
                     <button (click)="openForEdit(i)">ערוך פרטים</button>
                  </div>
                  <div>
                     <button class="delete-button" (click)="jobToDelete = i"><span>&#10008;&nbsp;</span>מחק</button>
                  </div>
               </div>
               <mat-list>
                  <div *ngIf="job.location">
                     <mat-list-item>
                        <span> מיקום: </span>
                        {{job.location}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.contactMan">
                     <mat-list-item>
                        <span> איש קשר: </span>
                        {{job.contactMan}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.phoneNumber">
                     <mat-list-item>
                        <span> טלפון: </span>
                        {{job.phoneNumber}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.jobBoard">
                     <mat-list-item>
                        <span> אתר / לוח:</span>
                        {{job.jobBoard}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.jobDescription">
                     <mat-list-item>
                        <span> תאור העסק:</span>
                        {{job.jobDescription}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.companyDescription">
                     <mat-list-item>
                        <span> תאור העבודה:</span>
                        {{job.companyDescription}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.skills">
                     <mat-list-item>
                        <span> כישורים נדרשים:</span>
                        {{job.skills}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.salary">
                     <mat-list-item>
                        <span> שכר:</span>
                        {{job.salary}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.daysAndHours">
                     <mat-list-item>
                        <span> ימים / שעות:</span>
                        {{job.daysAndHours}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.experienceNeeded">
                     <mat-list-item>
                        <span> נסיון:</span>
                        {{job.experienceNeeded}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.remarks">
                     <mat-list-item>
                        <span> הערות:</span>
                        {{job.remarks}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.outSourcing">
                     <mat-list-item>
                        <span> מיקור חוץ:</span>
                        {{job.outSourcing}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.questions">
                     <mat-list-item>
                        <span> שאלות:</span>
                        {{job.questions}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
               </mat-list>
            </div>
         </div>
      </div>
      <app-add-job *ngIf="showForm" [jobID]="jobToEdit ? jobToEdit._id : null" [jobToEdit]="jobToEdit"
         (formSubmitted)="popUpAndRefresh($event)">
      </app-add-job>
   </div>
</div>