<div class="main" [style.opacity]="this.showModal ? 0.5 : 1">

   <div class="button">
      <button (click)="toggleAddForm()">{{buttonText}}</button>
   </div>
   <br><br>
   <div class="container">
      <div id="all-jobs-container" *ngIf="!showForm">
         <div *ngFor="let job of allJobs; let i = index;" class="job-div">
            <h3 (click)="open(i)">{{job.name}}</h3>
            <div class="delete-div" *ngIf="jobToDelete == i">
               האם את/ה בטוח/ה שברצונך למחוק את המשרה?
               <div class="delete-buttons">
                  <button class="delete-button" (click)="delete(job.name)">מחק</button>
                  <button (click)="jobToDelete = -1">ביטול</button>
               </div>
            </div>
            <div *ngIf="currentJobIndex == i && jobToDelete == -1" class="job-details">
               <div class="buttons">
                  <div class="open-edit-form-button">
                     <button (click)="openForEdit(i)">ערוך פרטים</button>
                  </div>
                  <div>
                     <button class="delete-button" (click)="jobToDelete = i"><span>&#10008;&nbsp;</span>מחק</button>
                  </div>
               </div>
               <div *ngIf="job.location">
                  <span> מיקום: </span>
                  {{job.location}}
               </div>
               <div *ngIf="job.contactMan">
                  <span> איש קשר: </span>
                  {{job.contactMan}}
               </div>
               <div *ngIf="job.phoneNumber">
                  <span> טלפון: </span>
                  {{job.phoneNumber}}
               </div>
               <div *ngIf="job.jobBoard">
                  <span> אתר / לוח:</span>
                  {{job.jobBoard}}
               </div>
               <div *ngIf="job.jobDescription">
                  <span> תאור העסק:</span>
                  {{job.jobDescription}}
               </div>
               <div *ngIf="job.companyDescription">
                  <span> תאור העבודה:</span>
                  {{job.companyDescription}}
               </div>
               <div *ngIf="job.handsOn">
                  <span> כישורים נדרשים:</span>
                  {{job.handsOn}}
               </div>
               <div *ngIf="job.handsOn">
                  <span> שכר:</span>
                  {{job.salary}}
               </div>
               <div *ngIf="job.daysAndHours">
                  <span> ימים / שעות:</span>
                  {{job.daysAndHours}}
               </div>
               <div *ngIf="job.experienceNeeded">
                  <span> נסיון:</span>
                  {{job.experienceNeeded}}
               </div>
               <div *ngIf="job.remarks">
                  <span> הערות:</span>
                  {{job.remarks}}
               </div>
               <div *ngIf="job.outSourcing">
                  <span> מיקור חוץ:</span>
                  {{job.outSourcing}}
               </div>
               <div *ngIf="job.questions">
                  <span> שאלות:</span>
                  {{job.questions}}
               </div>
            </div>
         </div>
      </div>
      <app-add-job *ngIf="showForm" [jobID]="jobToEdit ? jobToEdit._id : null" [jobToEdit]="jobToEdit"
         (formSubmitted)="popUpAndRefresh($event)">
      </app-add-job>
   </div>
</div>

<div *ngIf="showModal" class="modal">
   <h1>{{modalText}}</h1>
   <button (click)="this.showModal = false"> תודה</button>
</div>