<div class="main">

   <div class="button">
      <button mat-raised-button (click)="toggleAddForm()">{{buttonText}}</button>
   </div>
   <br><br>
   <div class="container">
      <div id="all-jobs-container" *ngIf="!showForm && allJobs.length > 0">
         <div *ngFor="let job of allJobs; let i = index;" class="job-div">
            <h3 (click)="open(i)">{{job.name}}</h3>
            <div class="delete-div" *ngIf="jobToDelete == i">
               האם את/ה בטוח/ה שברצונך למחוק את המשרה?
               <div class="delete-buttons">
                  <button mat-button class="delete-button small" (click)="delete(job.name)">מחק</button>
                  <button mat-button class="small" (click)="jobToDelete = -1">ביטול</button>
               </div>
            </div>
            <div *ngIf="currentJobIndex == i && jobToDelete == -1" class="job-details">
               <div class="buttons">
                  <div class="open-edit-form-button">
                     <button mat-button class="small" (click)="openForEdit(i)">ערוך פרטים</button>
                  </div>
                  <div>
                     <button mat-button class="delete-button small" (click)="jobToDelete = i"><span>&#10008;&nbsp;</span>מחק</button>
                  </div>
               </div>
               <mat-list>
                  <div *ngIf="job.location">
                     <mat-list-item>
                        <span> מיקום: </span>
                        {{job.location}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.contactMan">
                     <mat-list-item>
                        <span> איש קשר: </span>
                        {{job.contactMan}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.phoneNumber">
                     <mat-list-item>
                        <span> טלפון: </span>
                        {{job.phoneNumber}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.jobBoard">
                     <mat-list-item>
                        <span> הגעתי דרך:</span>
                        {{job.jobBoard}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.rolePercentage">
                     <mat-list-item>
                        <span *ngIf="job.rolePercentage == 0">משרה מלאה</span>
                        <span *ngIf="job.rolePercentage == 1">משרה חלקית</span>
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.companyDescription">
                     <mat-list-item>
                        <span>על החברה:</span>
                        {{job.companyDescription}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.jobDescription">
                     <mat-list-item>
                        <span> מה עושים בתכלס?</span>
                        {{job.jobDescription}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.experienceNeeded">
                     <mat-list-item>
                        <span> צריך נסיון?</span>
                        כן, {{job.experienceNeeded}} שנים
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="!job.experienceNeeded">
                     <mat-list-item>
                        <span> צריך נסיון?</span>
                        לא
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.skills.length > 0">
                     <mat-list-item>
                        <span> כישורים נדרשים:</span>
                        {{job.skills}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.salary">
                     <mat-list-item>
                        <span> שכר:</span>
                        {{job.salary}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="checkDays(job.days)">
                     <mat-list-item>
                        <span> ימים:</span>
                        <span  *ngFor="let day of job.days">
                           <span class="days" *ngIf="day.checked">{{day.name}},</span>
                        </span>
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.stayHome">
                     <mat-list-item>
                        <span *ngIf="job.stayHome == 0">עובדים מהבית</span>
                        <span *ngIf="job.stayHome == 1">עובדים במשרד</span>
                        <span *ngIf="job.stayHome == 2">עובדים מהבית ומהמשרד</span>
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.remarks.length > 0">
                     <mat-list-item>
                        <span> הערות:</span>
                        {{job.remarks}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.outSourcing">
                     <mat-list-item>
                        <span> מיקור חוץ:</span>
                        {{job.outSourcing}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="job.questions.length > 0">
                     <mat-list-item>
                        <span> שאלות:</span>
                        {{job.questions}}
                     </mat-list-item>
                     <mat-divider></mat-divider>
                  </div>
               </mat-list>
            </div>
         </div>
      </div>
      <app-add-job *ngIf="showForm" [jobID]="jobToEdit ? jobToEdit._id : null" [jobToEdit]="jobToEdit"
         (formSubmitted)="popUpAndRefresh($event)">
      </app-add-job>
   </div>
</div>