<div class="container">


  <div class="btn btn-primary" (click)="viewChange.emit('month')" >
    <button [class.active]="view === 'month'" mat-stroked-button color="primary"> Month</button>
  </div>

  <button mat-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Previous
  </button>

  <div class="middle">
    <div>
      <div style="font-size: 2em;">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</div>
    </div>
  </div>

  <button mat-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Next
  </button>

  <div class="btn btn-primary" (click)="viewChange.emit('day')" >
    <button [class.active]="view === 'day'" mat-stroked-button color="primary">Day</button>
  </div>

</div>

<br />