<div id="view">
  <div (click)="viewChange.emit('month')">
    <button [class.active]="view === 'month'" mat-button color="primary"> Month</button>
  </div>

  <div (click)="viewChange.emit('day')">
    <button [class.active]="view === 'day'" mat-button color="primary">Day</button>
  </div>
</div>


<div class="container">
  <button class="in-container" mat-raised-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Previous
  </button>

  <div class="middle">
    <div>
      <div style="font-size: 2em;">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</div>
    </div>
  </div>

  <button class="in-container" mat-raised-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Next
  </button>


</div>

<br />