

<div class="container">
    <div class="main" *ngIf="todos">
        <span class="deleteTodos clickable" *ngIf="todos.length > 0" 
            (click)="showDeleteIcon = true"><span>&#10007;&nbsp;</span>מחיקת מטלות
        </span>
        <div class="todo"  *ngFor="let todo of todos; let i = index"> 
            <div *ngIf="currentTodoIndex != i" >
                <span class="clickable deleteTodo" *ngIf="showDeleteIcon" 
                    (click)="currentTodoToDelete = i">&#10007;
                </span>
                <span *ngIf="!showDeleteIcon">&#10036;&nbsp;</span>
                <span class="todo-title">{{todo.title}}</span>&nbsp;
                <span class="todo-date">{{todo.startDate}}</span>&nbsp;
                <span class="todo-date">{{todo.startHour}}</span>&nbsp;
                <span class="todo-duration">{{todo.duration}}</span>&nbsp;
                <div class="deleteTodo" *ngIf="currentTodoToDelete == i">האם למחוק את המטלה? 
                    <button mat-button color="warn" class="deleteTodo" (click)="deleteTodo(todo.title)">מחק</button>
                    <button mat-button color="primary" (click)="currentTodoToDelete = -1">ביטול</button>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="this.viewAddForm = !this.viewAddForm" >הוסף מטלה&nbsp;&#43;</button>
    <app-add-todo *ngIf="viewAddForm" (emitTodo)="submitNew($event)"></app-add-todo>
</div>
