<div class="container">
    <div *ngIf="!todos">אין מטלות להצגה</div>
    <div class="main" *ngIf="todos">
        <div class="deleteTodo" *ngIf="showDeleteIcon">לחץ על ה<span>&#10007;&nbsp;</span> שבצד המטלה על מנת למחוק אותה
        </div>
        <table>
            <tr>
                <th colspan="3"><h2>נעשה ונשמע</h2></th>
            </tr>
            <tr *ngFor="let todo of todos; let i = index">
                <td *ngIf="showDeleteIcon"><span class="clickable deleteTodo" (click)="openDialog(i)">&#10007;
                    </span></td>
                <td *ngIf="!showDeleteIcon">&#10036;</td>
                <td>{{todo.title}}</td>
                <td *ngIf="todo.startDate">{{todo.startDate}}, {{todo.startHour}}</td>
            </tr>
        </table>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="addTodoButtonClicked()">
            &#43;&nbsp;{{addTodoButtonText}} </button>
        <button mat-raised-button color="warn" class="deleteTodos" *ngIf="todos && todos.length > 0"
            (click)="deleteButtonClicked()"><span>&#10007;&nbsp;</span>{{deleteButtonText}}
        </button>
    </div>
    <app-add-todo *ngIf="viewAddForm" (emitTodo)="submitNew($event)"></app-add-todo>
</div>