.bar {
    /* margin: 1% 5%; */
    width: 80%;
}

#logo {
    margin-left: 10%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
    border: 1px solid white;
    padding: 0% 0% 0% 1%;
    border-radius: 5px;
}


h4 {
    text-align: center;
    text-shadow: 0 0 10px rgb(240, 229, 229), 0 0 20px rgb(226, 188, 20), 0 0 30px #e60073, 0 0 40px #6b0639, 0 0 50px #e71c82, 0 0 60px #7b5ce4, 0 0 70px #5de25d;
    /* animation: glow 1s ease-in-out infinite alternate; */
}

@media only screen and (min-width: 768px) {
    .bar {
        /* margin: 1% 5%; */
        width: 80%;
        margin-left: -50px;
    }
    
    #logo {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        width: 20%;
        border: 1px solid white;
        padding: 0% 0% 0% 1%;
        border-radius: 5px;
    }

    .sd {
        width: 200000px;
        margin-left: 10px;
    }
    
    
    h4 {
        text-align: left;
        text-shadow: 0 0 10px rgb(240, 229, 229), 0 0 20px rgb(226, 188, 20), 0 0 30px #e60073, 0 0 40px #6b0639, 0 0 50px #e71c82, 0 0 60px #7b5ce4, 0 0 70px #5de25d;
        /* animation: glow 1s ease-in-out infinite alternate; */
    }
}
/* 
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */