.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.bold {
    color: rgb(236, 102, 12);
    margin-right: 10px;
    font-weight: bold;
    background-color: rgb(233, 159, 146);
    border-radius: 10px;
    padding: 7px;
} 

@media only screen and (min-width: 768px) {
    
    #logo {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        width: 8%;
        padding: 0% 0% 0% 1%;
        border-radius: 5px;
    }
    
    h4 {
        text-align: left;
        text-shadow: 0 0 10px rgb(240, 229, 229), 0 0 20px rgb(226, 188, 20);
    }

    .my-apps {
        margin-left: 10%;
        margin-bottom: 10%;
        width: 15%;
        text-align: center;
        border: 1px solid black;
        padding: 0% 0% 0% 1%;
        border-radius: 5px;
    }   
}
