.container {
    padding-left: 5%;
}

a {
    text-decoration: none;
}

#sorry {
    display: none;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 100px;
}

#greeting {
    display: block;
    margin-left: 10%;
    width: 50%;
    padding: 5%;
    position: relative;
    left: 0;
    color: #5a9216;
    transform: rotateZ(0deg);
    animation-name: greeting;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes greeting {
    0% { left: -180%; transform: rotateZ(0deg)}
    100% { left: 20%; transform: rotateZ(360deg)}
}


#your-ascii {
    left: 0;
    width: 90%;
    margin-bottom: 10%;
    margin-top: 10%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
}

#holly-number {
    color: #5a9216;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 30%;
    top: 0;
    opacity: 0;
    font-size: 100px;
    transition-property: opacity;
    transition-duration: 15s;
}



#buttons {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#link-to-site {
    cursor: pointer;
    color: #bcbcbc;
    border: 2px solid #8bc34a;
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    right: 100%;
    animation: linkToSite;
    animation-delay: 10s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes linkToSite {
    0% { right: -100% }
    100% { right: -22% }
}

#link-to-site > a {
    padding: 100%;
    border-radius: 10px;
}

#link-to-site > a:hover {
    background-color:  #bef67a;
}

#refresh {
    cursor: pointer;
    color: #bcbcbc;
    border: 2px solid #8bc34a;
    border-radius: 10px;
    width: fit-content;
    padding: 2%;
    position: relative;
    right: 100%;
    animation: refresh;
    animation-delay: 10.3s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes refresh {
    0% { right: -100% }
    100% { right: -22% }
}


@media only screen and (min-width: 600px) and (max-width: 760px) {
    #sorry {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    #buttons { 
        left: -900px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #link-to-site, #refresh {
        height: 100px;
    }
    #your-ascii { 
        margin-left: 20%;
        margin-top: 0;
        margin-bottom: 0;
    }
    #holly-number {
        margin-top: 0%;
        margin-bottom: 0;
        margin-left: 30%;
        width: 50%;
        padding: 5%;
    }

    @keyframes linkToSite {
        0% { right: -100% }
        100% {right: 10% }
    }

    @keyframes refresh {
        0% { right: -100% }
        100% { right: 10% }
    }
}