<div class="container" >
  <div id="sorry">
    <h1>I am sorry. But you will have to scroll down in order to see the rest of this animation... <br></h1>
  </div>
  <h1 id="greeting">{{name}}</h1>
  <h2 id="your-ascii" #yourAscii 
    [style.display]="showHollyNumber ? 'none' : 'block'" >
  </h2>
  <div id="holly-number" 
    [style.opacity]="showHollyNumber ? '1' : '0'" >{{hollyNumber}}
  </div> 
    <div id="buttons">
      <div id="link-to-site">
        <h2 routerLink="/home">Ok. Let's continue.</h2>
      </div>
      <div id="refresh">
        <h2 (click)="refresh()"> Try another name</h2>
      </div>
    </div>
</div>

