<div class="container">

  <div class="title">
    <h1>Tom Ben Ner - Software Developer</h1>
  </div>
  
  <div class="intro">
    <div class="int-int">
      <p>
        Hi. My name is Tom Ben Ner. I am a software developer.
      </p>
    </div>
    <div class="int-int2">
      <p>
        I have been developing applications in the last 2 years, mainly with 
      </p>
      <h2>Angular (versions 4 ---> 8)</h2> 
      <h2>JavaScript</h2> 
      <h2>HTML</h2>        
      <h2>and CSS.</h2>     
      <div id="acknowledgement">
        <h3>Have basic knowledge of server-side programming</h3> 
        <h3>(uploaded this site by myself)</h3>
        <h3>;)</h3> 
      </div>
    </div>
  </div>


  <h2 class="centerized">Wanna see apps I have been making from scratch?</h2>
  <h3 class="centerized"> &#11015; </h3>
  
  <div id="apps">
    <a routerLink="/todo" >Todo application</a>
    <a routerLink="/job-places" >Help me find a job!</a>
  </div>

</div>