
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
}

.form-container { 
    margin-left: 10%;
    margin-top: 10%; 
    width: 50%;
    height: 30%;
    padding: 5%;
}


.form-container {
    /* width: 50%;
    height: 30%;
    padding: 5%;
    margin-left: 40%; */
}

app-hello {
    top: -9500px;
    margin-left: 0;
}


#codeMaster {
    margin: auto;
    padding: 10%;
    margin-top: 0;
    transition-property: margin-top;
    transition-duration: 2s;
}

@media only screen and (min-width: 600px) and (max-width: 760px) {
    
    .container {
        flex-direction: row;
    }

    app-hello {
        margin-left: 0px;
    }

    #codeMaster {
        margin-top: 24%;
    }
    
}

@media only screen and (min-width: 768px) {
    .form-container { 
        margin-left: 30%;
        margin-top: 0%;
    }
    #codeMaster { 
        margin-top: 27%;
        margin-left: 0%; 
    }

}

