<div class="container">

  <div class="form-container" [style.display]="showName ? 'none' : 'block'">
    <mat-form-field>
      <mat-label>Your name please</mat-label>
      <input [(ngModel)]="name" matInput autocomplete="off" (click)="checkValidation()" (keyup)="checkValidation()">
    </mat-form-field>

    <div>
      <button mat-stroked-button color="primary" [disabled]="!formValid" (click)="calculateLetters(); showName=true">
        OK, now what?</button>
    </div>
  </div>

  <app-hello (refreshPageEmitter)="clear()" [name]="name" [hollyNumber]="hollyNumber" *ngIf="showName"></app-hello>

  <div id="codeMaster" [style.marginTop]="setMargin()">
    <h2>Thanks to:</h2>
    My greatfull thanks to EGcoder who helped me upload the site.
  </div>


</div>