<kendo-splitter orientation="horizontal" style="height: 50%;">

    <kendo-splitter-pane id="day">
        <div class="pane-content">
            <app-cal-day [viewDate]="currentDay" [events]="events"></app-cal-day>
        </div>
    </kendo-splitter-pane>

    <kendo-splitter-pane id="month" [collapsible]="true" size="70%">
        <div class="pane-content">
            <app-cal-month (changeDay)="changeDay($event)" [events]="events" ></app-cal-month>
        </div>
    </kendo-splitter-pane>

</kendo-splitter>