/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
    background: #eeeeee;
    color: #5a9216;
}

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  *::-webkit-scrollbar-track {
    background: #bcbcbc;
    border-radius: 10px;        /* color of the tracking area */
  }
  *::-webkit-scrollbar-thumb {
    background-color: #80e27e;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #bcbcbc;  /* creates padding around scroll thumb */
  }

html, body { height: 100%; }
