.mat-form-field {
    text-align: right;
    width: 100%;
}

/* .mat-form-field-underline {
    display: none;
} */

.errors {
    background-color: rgb(233, 87, 87);
    padding: 3%;
    border-radius: 5px;
}

.success {
    background-color: rgb(47, 179, 255);
    padding: 3%;
    border-radius: 5px;
}

.container{
    /* background: rgb(214, 137, 233); */
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2%;
    padding:10%;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

