<div class="main-container">


    <div class="title">
        <h2>
            {{title}}
        </h2>
    </div>

    <div class="container">

        <div class="funky">
            <h2>{{funkyText}}</h2>
        </div>

        <div class="forms-header">
            <h2>כניסה / הרשמה</h2>
            <p>שלום אורח/ת.</p>
            <p>בטפסים מטה תוכל/י להיכנס ולהרשם לאפליקציות שלי .מספיק להרשם לאפליקציה אחת, זה תופס גם לגבי השניה. ההרשמה בחינם, ואין צורך בפרטים אישיים
            </p>
        </div>

        <div id="forms">
            <div id="sign-up">
                <app-sign-up></app-sign-up>
            </div>
            <div>
                <p>כבר נרשמת?</p>
            </div>
            <div id="login">
                <app-login [appName]="appName"></app-login>
            </div>
        </div>

    </div>

</div>