<div class="main-container">


    <div class="title">
        <h2>
            <!-- נעשה ונשמע -->
            {{title}}
        </h2>
    </div>

    <div class="container">

        <div class="funky">
            <!-- <h2> הכל מסתכם במשימה אחת פשוטה.</h2> -->
            {{funkyText}}
        </div>

        <div >
            <h2>כניסה והרשמה</h2>
            <p>כניסה / הרשמה לאפליקציות שלי. אם נרשמת לאפליקציה אחת, אין צורך להרשם גם לשניה. אפשר פשוט להיכנס אם אותו שם משתמש ואותה סיסמא</p>
        </div>

        <div id="forms">
            <div id="login">
                <app-login [appName]="appName"></app-login>
            </div>
            <div class="monkey">
                <h3 style="text-decoration: underline">
                    עדיין לא נרשמת?
                </h3>
                <h5>הרשמה חינם, אין צורך בפרטים אישיים:</h5>
            </div>
            <div id="sign-up">
                <app-sign-up></app-sign-up>
            </div>
        </div>

    </div>

</div>