
* {
    direction: rtl;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 800px;
    margin: auto;
}

#forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

@media only screen and (min-width: 768px) {
    #forms {
        flex-direction: row;
        justify-content: space-around;
    }
}